doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name='viewport', content='width=device-width', initial-scale=1)
    meta(name='description', content='Jeremy Jones. Nashville-based Web Developer for hire.')
    meta(name='keywords', content='Jeremy Jones,Nashville,Tennessee,TN,Software,Web,Developer,Programmer,Front-end,Front,end,JavaScript,Node,Node.js,AngularJS,ASP.Net,C#,Apps')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='bower_components/devicons/css/devicons.min.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='bower_components/animate.css/animate.min.css')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='vendor/threejs/three.min.js')
    script(src='vendor/threejs/CanvasRenderer.js')
    script(src='vendor/threejs/Projector.js')
  body
    header.fill-viewport
      .greeting.vertical
        h1=greeting[0]
        h2=greeting[1]
      .fa.fa-3x.fa-angle-down.infinite.bounce.animated
    section#tools
      .container
        h2 I work with these:
        each devicon in devicons
          span.devicons(class='devicons-' + devicon)
    section#work
      .container
        h2 To make things like:
        each project in projects
          a#project(href=project.url, target='_blank')
            h4
              span=project.name
            img(src=project.image)
    section#social
      .container
        h2 Let&apos;s make things together!
        ul 
          each network in social
            li: a(href=network.url, target='_blank')
              span(class='fa fa-3x fa-' + network.name)
    section#about
      .container
        img(src=image)
        .blurb
          h2
            span About me
          p=about
        .skills
          h2
            span Skills
          div
            ul
              each skill in skills.geek
                li=skill
            ul
              each skill in skills.human
                li=skill
    section#resume
      h1
        a(href='jeremy_jones_resume.pdf', target="_blank") Check out my resume
                
    footer
      p &copy; 2015 Jeremy Jones
    script(src='site.js')
  
